.home-bg-dark-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes home-spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.home-animate-spin-slow {
  animation-name: home-spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
